<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Locadora de Veículos</title>
    <meta charset="UTF-8">
</head>
<body>

<header class="w-full py-6 bg-green-500 flex items-center justify-center">
    <h1 class="uppercase font-bold text-white text-2xl">Locadora de Veículos</h1>
</header>
<main class="w-full flex justify-center mt-12">
    <div>
        <nav class="bg-green-100/30 p-10 rounded-xl border shadow-lg">
            <ul class="grid grid-cols-3 gap-x-20 *:uppercase *:border *:px-4 *:py-1 *:rounded-md *:bg-white *:shadow-lg *:font-semibold *:text-neutral-700">
                <li>
                    <a href="/veiculos">Veículos</a>
                </li>
                <li>
                    <a href="/usuarios">Usuários</a>
                </li>
                <li>
                    <a href="/alugueis">Locações</a>
                </li>
            </ul>
        </nav>

        <div class="bg-green-100/30 p-10 rounded-xl border shadow-lg mt-12">
            <h2 class="text-2xl font-bold text-neutral-700">Cadastrar Veículo</h2>
            <form action="#" th:action="@{/veiculos/{id}(id=${veiculo.id})}" th:object="${veiculo}" method="post" class="mt-4">
                <div class="flex flex-col">
                    <label for="placa" class="text-neutral-700 font-semibold">Placa</label>
                    <input type="text" id="placa" name="placa" th:field="*{placa}" class="border rounded-md px-4 py-2 mt-2">
                    <div class="text-xs text-red-500" th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></div>
                </div>
                <div class="flex flex-col mt-4">
                    <label for="modelo" class="text-neutral-700 font-semibold">Modelo</label>
                    <input type="text" id="modelo" name="modelo" th:field="*{modelo}" class="border rounded-md px-4 py-2 mt-2">
                    <div class="text-xs text-red-500" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></div>
                </div>
                <div class="flex flex-col mt-4">
                    <label for="marca" class="text-neutral-700 font-semibold">Marca</label>
                    <input type="text" id="marca" name="marca" th:field="*{marca}" class="border rounded-md px-4 py-2 mt-2">
                    <div class="text-xs text-red-500" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
                </div>
                <div class="flex flex-col mt-4">
                    <label for="ano" class="text-neutral-700 font-semibold">Ano</label>
                    <input type="text" id="ano" name="ano" th:field="*{ano}" class="border rounded-md px-4 py-2 mt-2">
                    <div class="text-xs text-red-500" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>
                </div>
                <div class="flex flex-col mt-4">
                    <label for="cor" class="text-neutral-700 font-semibold">Cor</label>
                    <input type="text" id="cor" name="cor" th:field="*{cor}" class="border rounded-md px-4 py-2 mt-2">
                    <div class="text-xs text-red-500" th:if="${#fields.hasErrors('cor')}" th:errors="*{cor}"></div>
                </div>
                <button type="submit" class="bg-green-500 text-white font-semibold rounded-md px-4 py-2 mt-4">Cadastrar</button>
            </form>
        </div>

    </div>


</main>
</body>
</html>