<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Locadora de Veículos</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="w-full h-screen flex items-center justify-center">
    <h1 class="text-3xl font-bold">

        Não trabalho com abertura de bandas.

    </h1>
</div>


<!--    <header class="w-full py-6 bg-green-500 flex items-center justify-center">-->
<!--        <h1 class="uppercase font-bold text-white text-2xl">Locadora de Veículos</h1>-->
<!--    </header>-->
<!--    <main class="w-full flex justify-center mt-12">-->
<!--        <div class="bg-green-100/30 p-10 rounded-xl border shadow-lg">-->
<!--            <ul class="grid grid-cols-3 gap-x-20 *:uppercase *:border *:px-4 *:py-1 *:rounded-md *:bg-white *:shadow-lg *:font-semibold *:text-neutral-700">-->
<!--                <li>-->
<!--                    <a href="/veiculos">Veículos</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/clientes">Clientes</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/alugueis">Locações</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--    </main>-->
</body>
</html>